<html>
  <head>
    <title>Matricula++</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
	<script src="angular-ui-router.js"></script>
	<link rel="stylesheet" type="text/css" href="bootstrap.min.css">
	  <style> .glyphicon-thumbs-up { cursor:pointer }  table, th , td {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
}
table tr:nth-child(even) {
  background-color: #ffffff;
}</style>	
	
  </head>

 <!-- APP INIT -->
<body ng-app="matriculapp">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <ui-view></ui-view>
		</div>
	</div>


 <!-- HOME -->
<script type="text/ng-template" id="/home.html">

      <div class="page-header">
        <h1>Matricula++</h1>
      </div>
	  
      <a href="#/registers/day" class="btn btn-primary">Relatorio de Registros</a>
      <a href="#/restricoes/" class="btn btn-primary">Gerar Matricula</a>
	
</script>

 <!-- REGISTERS -->
<script type="text/ng-template" id="/registers.html">

      <div class="page-header">
        <h1>Matricula++ ~> Registros</h1>
  <a href ="#/home"> Voltar </a>
      </div>
	  
	  
        <a href="#/registers/day" class="btn btn-primary">Diario</a>
        <a href="#/registers/week" class="btn btn-primary">Semanal</a>
        <a href="#/registers/month" class="btn btn-primary">Mensal</a>
		</br>
		
		<h4>{{message}}</h4>
		
		</br>
		<table class="well span6" style="width:100%;">
			<tr>
				<td align="center">Data</td>
				<td align="center">Ip</td>
			</tr>
			<tr ng-repeat="register in registers">
				<td align="center">{{ formatedDate(register.date) }}</td>
				<td align="center">{{ register.ip }}</td>
			</tr>
		</table>
		
	
</script>

<!-- Adicionar Restricoes -->
<script type="text/ng-template" id="/restricoes.html">

  <div class="page-header">
	<h1>Matricula++ ~> Adicionar Restricoes</h1>
	
  <a href ="#/home"> Voltar </a>
  </div>
	<h2 ng-hide="loaded">{{message}}</h2>
	
  <!-- Fomulário -->
	<div ng-show="loaded">
	
        <h4>Aluno {{aluno.nome}} - {{aluno.matricula}}</h4>
	
        <h4>Restricoes</h4>

        <div class="form-group">
		<p>Maximo de creditos desejado
          <input type="text"
            class="form-control"
            placeholder="8"
            ng-model="creditos"></input></p>
        </div>
				
		<div class="form-group">
		<p>Horarios indesejados
          <input type="text"
            class="form-control"
            placeholder="AB,CD,...,LM,NP"
            ng-model="horarios"></input></p>
        </div>
		
		<div class="form-group">
		<p>Disciplinas indesejadas
          <input type="text"
            class="form-control"
            placeholder="FE01,PROG03,..."
            ng-model="nao_cursar"></input></p>
        </div>
		<a href="#/matricula/{{creditos}}/{{horarios}}/{{nao_cursar}}/{{aluno_id}}/{{curso_id}}" class="btn btn-primary">Gerar Matricula</a>
		
	  </br> 
	  </br> 
		<h4>Disciplinas Cursadas</h4>
		<table class="well span6" style="width:100%;">
			<tr>
				<td align="center">Codigo</td>
				<td align="center">Creditos</td>
				<td align="center">Nome</td>
			</tr>
			<tr ng-repeat="disciplina in aluno.disciplinas_cursadas">
				<td align="center">{{ getDisciplina(disciplina).cod_disciplina }}</td>
				<td align="center">{{ getDisciplina(disciplina).creditos}}</td>
				<td align="center">{{ getDisciplina(disciplina).nome}}</td>
			</tr>
		</table>
		
		<h4>Todas Disciplinas</h4>
		
		<table class="well span6" style="width:100%;">
			<tr>
				<td align="center">Codigo</td>
				<td align="center">Creditos</td>
				<td align="center">Nome</td>
			</tr>
			<tr ng-repeat="disciplina in todas_disciplinas">
				<td align="center">{{ disciplina.cod_disciplina }}</td>
				<td align="center">{{disciplina.creditos}}</td>
				<td align="center">{{disciplina.nome}}</td>
			</tr>
		</table>
		
	  </br> 
	</div>
	
</script>

<!-- Matricula -->
<script type="text/ng-template" id="/matricula.html">

  <div class="page-header">
	<h1>Matricula++ ~> Matricula Gerada</h1>
	
  <a href ="#/home"> Voltar </a>
  </div>
  
  <h2 ng-hide="loaded"> {{message}} </h2>

  <div ng-show="loaded">
	  <h4>Restricoes</h4>
	  <p>Maximo de Creditos: {{creditos}} </br>Horarios Indesejados: {{horarios}}</p>
		
	  </br>
		<h4>Grade de Horarios</h4>
	  
		<table class="well span6" style="width:100%;">
			<tr>
				<td align="center">Dia</td>
				<td align="center">AB</td>
				<td align="center">CD</td>
				<td align="center">EF</td>
				<td align="center">HI</td>
				<td align="center">JK</td>
				<td align="center">LM</td>
				<td align="center">NP</td>
			</tr>
			<tr ng-repeat="day in generated">
				<td align="center">{{ getDayName($index)}}</td>
				<td align="center">{{ getName(day[0]) }}</td>
				<td align="center">{{ getName(day[1]) }}</td>
				<td align="center">{{ getName(day[2]) }}</td>
				<td align="center">{{ getName(day[3]) }}</td>
				<td align="center">{{ getName(day[4]) }}</td>
				<td align="center">{{ getName(day[5]) }}</td>
				<td align="center">{{ getName(day[6]) }}</td>
			</tr>
		</table>

		</br>
		
		<h4 ng-show="cursadas.length>0">Disciplinas no Matricula</h4>
		<p ng-show="cursadas.length>0">Creditos:{{total_credito}}</p>
		<div class="well span6" ng-repeat="tur in cursadas">
			 CRED:{{getDisciplina(tur.disciplina).creditos}} | {{tur.horario}} | {{tur.numero}} | {{getDisciplina(tur.disciplina).cod_disciplina}} ~> {{getDisciplina(tur.disciplina).nome}}	<button  ng-click="removeTurma($index)" style="float:right">x</button>		
		</div>
		
	  </br>
	  
		<h4 ng-show="nao_cursadas.length>0">Adicionar Disciplinas</h4>
		<div class="well span6" ng-repeat="tur in nao_cursadas">
			 CRED:{{getDisciplina(tur.disciplina).creditos}} | {{tur.horario}} | {{tur.numero}} | {{getDisciplina(tur.disciplina).cod_disciplina}} ~> {{getDisciplina(tur.disciplina).nome}}	<button  ng-click="addTurma($index)" style="float:right">+</button>		
		</div> 
	  </br> 
  </div>

</script>


  </body>
  
</html>	